@model LoginViewModel
<form asp-controller="Auth" asp-action="Login" method="post">
    <div>Login</div>
    <div>
        <label>Username</label>
        <input asp-for="Username"/>
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
    <div>
        <a asp-controller="Auth" asp-action="Register">Register</a>
    </div>
</form>